<div class="container">
  <div class="row">
    <div class="col-xs-10 center-block">
      <div class="panel panel-default polish-show">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6">
              <% case @polish.brand_name %>
              <% when 'butter London' %>
                <%= image_tag(@polish.image_url, size: '280x280', alt: "butter London #{@polish.color_name}", class: "img-responsive center-block figure-img img-fluid rounded") %>
              <% when 'Essie' %>
                <%= image_tag("#{@polish.image_url}", size: '130x280', alt: "Essie #{@polish.color_name}", class: "img-responsive center-block figure-img img-fluid rounded") %>
              <% when 'OPI' %>
                <%= image_tag("#{@polish.image_url}", size: '115x280', alt: "OPI #{@polish.color_name}", class: "img-responsive center-block figure-img img-fluid rounded") %>
              <% end %>
              <figcaption class="figure-caption text-xs-center"><%= "#{@polish.brand_name} #{@polish.color_name}" %></figcaption>
            </div>
            <br />
            <div class="col-xs-6">
              <dl>
                <div class="container">
                  <dt class="col-sm-3">Brand Name</dt>
                  <dd class="col-sm-9"><%= @polish.brand_name %></dd>
                </div>
                <div class="container">
                  <dt class="col-sm-3">Color</dt>
                  <dd class="col-sm-9"><%= @polish.color_name %></dd>
                </div>
                <div class="container">
                  <dt class="col-sm-3">Description</dt>
                  <dd class="col-sm-9"><%= @polish.description %></dd>
                </div>
                <div class="container">
                  <dt class="col-sm-3">Color Group</dt>
                  <dd class="col-sm-9"><%= @polish.color_group %></dd>
                </div>
                <div class="container">
                  <dt class="col-sm-3">UPC</dt>
                  <dd class="col-sm-9"><%= @polish.upc %></dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
