<!DOCTYPE html>
<html>
<head>
  <title>Kamille's Ratchet Nail Salon</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'http://emojipedia-us.s3.amazonaws.com/cache/89/ed/89ed3edad37df4e7fac0304b90f2d0c5.png' %>
</head>
<body>
  <%= button_to "Add New Polish", new_polish_path, method: :get %>

<%= yield %>

</body>
</html>
